<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To Do List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>


        <h1> <%= kindOfDay %> </h1>

        <ul>

            <% for (let i = 0; i<newListItems.length; i++) { %>
                <li> <%= newListItems[i] %> </li>
            <% } %>

        </ul>

        <form class="" action="/" method="post">
        
            <input type="text" name="newItem">

            <button type="submit" name="button">Add</button>

        </form>

    </body>
</html>