
  body {
    background-color: #deecff;
  }

  h1 {
    color #00a8b5;

  }

  h3 {
    color: #00a8b5;

  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
